@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;padding: 10px 0 0 20px;
}
.box{
  counter-reset: section;
}
h2{
  counter-reset: sub-section;
}
h2::before{
  content: "" counter(section,upper-roman) " . ";
  counter-increment: section;
}
h3::after{
  content: counter(section )"." counter(sub-section);
  counter-increment: sub-section;
}


